# Opção 1 — URL completa (recomendado para Supabase)
DATABASE_URL=postgresql://postgres.mdahkotjozifhfqieafv:danilo123_ponderada-4@aws-1-us-west-2.pooler.supabase.com:6543/postgres


# Opção 2 — variáveis separadas (fallback automático se DATABASE_URL não estiver definida)
DB_HOST=db.mdahkotjozifhfqieafv.supabase.co
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=danilo123_ponderada-4
DB_NAME=postgres

PORT=8080
